body{
    font-family: 'Poppins', sans-serif;
}
.imageset{
    background-image:url(donation0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width:100%;
}
a{
    text-decoration: none;
    background-image:linear-gradient(red,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
}
.textalignset{
    text-align: center;
    color:purple;
}
.another{
    font-size: 50px; 
    padding-top:50px ;
}
.positionset{
    text-align: center;
}
.anotherclass{
    text-align: center;
    color:black;
    font-size: 40px; 
    padding-top:40px ;
}
.align{
    text-align: center;
}
.boxmodelset{
    display: flex;
    text-align: center;
    margin-left: 10%;
}
.boxmodelset p{
    font-size: 20px;
    background-color: antiquewhite;
    border-radius: 2px;
    padding: 20px 30px;
    height: 40px;
    width: 40;
    margin: 20px;
    font-weight: 700;
}
.colorset{
    color: rgb(156, 10, 78);
    background-color: pink;
    border:3px solid rgb(156, 10, 78);
}
.borderset{
    color: rgb(54, 53, 53);
    border-bottom: 1px solid rgb(54, 53, 53);
    text-align: center;
    width:70% ;
    margin-bottom: 50px;
    margin-left: 15%;
}
.flexadded{
    display: flex;
    text-align:left;
    margin: 5%;
}
.flexadded div{
    padding:2%;
    border-radius: s5px;
    margin-left:2%;
    width: 80%;
}
.coloradd{
    background-color:burlywood;
}
.coloradded{
    background-color:rosybrown;
}
.coloraddagain{
    background-color:palevioletred;
}
.displaycorrection{
    display: flex;
}
.half-width{
    width: 80%;
    padding-left: 2%;
    margin-bottom: 10%;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
    height: 500px;
}
.fontadded{
    font-size: 40px;
}
.positionadd{
    text-align: left;
}
.paddingset{
    margin-top: 10%;
}